.card__container {
  @apply text-white;
}
.card__title {
  @apply relative;
  @apply pb-2;
  border-bottom: 1px solid #222;
  @apply text-sm tracking-widest uppercase;
  color: #555;
}
.card__content {
  @apply pt-8;
}
.card__content__row {
  @apply flex items-center gap-2 lg:gap-3;
  @apply transition-opacity;
}
a.card__content__row:hover {
  opacity: 0.7;
}
.card__content__value {
  @apply text-xl;
}
.card__content__label {
  @apply text-xs sm:text-sm;
  color: #555;
}
